:root {
    --text-color: #f5f1f9;
    --primary-color: #779bb1;
    --accent-color: #67a8a0;
    --border-color: #515151;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #030204;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

header {
    width: 100vw;  
    color: var(--text-color);    
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

main {
    width: 80vw;
    padding: 20px;
    background-color: #151121;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: #151121;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
}

h1 {
    font-size: 1.50rem;
    margin: 2%;
    color: var(--text-color);
}

h2 {
    font-size: 1.25rem;
    color: var(--text-color);
}

.results-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
    margin: 10px auto;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.action-button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
}

.divider {
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    margin: 20px 0;
    background-color: #151121;
}

.timestamp-input, .date-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 10px 0;
    background-color: #151121;
    color: var(--text-color);
}

.results, .icons {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.icons {
    max-height: 95%;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.results {
    width: 100%;
    font-size: 1rem;
    justify-content: center;
}