:root {
  --background: #030204;
  --surface: #2b2a2b;
  --text-color: #f5f1f9;
  --primary-color: #779bb1;
  --accent-color: #67a8a0;
  --border-color: #515151;
}

* {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

header {
  width: 100vw;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

main {
  padding: 10vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: var(--surface);
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
}

h1 {
  font-size: 1.72rem;
  margin: 2%;
  color: var(--text-color);
}

h2 {
  font-size: 1.24rem;
  color: var(--text-color);
}

.result-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin: 10px auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.action-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-size: 1rem;
}

.divider {
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  margin: 4vh 0;
  background-color: #151121;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 0;
  background-color: #151121;
  color: var(--text-color);
}

.result-text,
.icons {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.icons {
  max-height: 95%;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.result-text {
  width: 100%;
  font-size: 1rem;
  justify-content: center;
}
